{% extends 'videos_base.html' %} {% block content %}
<h2>Uploaded Videos</h2>
{% if videos %}
<div class="row">
  {% for video in videos %}
  <a
    href="{% url 'single-view' video.id %}"
    class="col-md-6 mb-4"
    style="text-decoration: none"
  >
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ video.title }}</h5>

        <video width="100%">
          <source src="{{ video.track.url }}" type="video/mp4" />
          Your browser does not support the video tag.
        </video>

        <p class="card-text">
          <small class="text-muted">Uploaded on {{ video.id }}</small>
        </p>
      </div>
    </div>
  </a>
  {% endfor %}
</div>
{% else %}
<p>No videos have been uploaded yet.</p>
{% endif %} {% endblock %}
